<form action="" class="form-group">

    <div class="form-icon"><img/>Horário</div>
    <h3>Qual horário você quer treinar?</h3>
    <div>
        <input type="radio" name="morning" value="morning"/>
        <label for="morning">Manhã</label>
        <span>06:00 ás 12h</span>
    </div>

    <div>
        <input type="radio" name="afternoon" value="afternoon">
        <label for="afternoon">Tarde</label>
        <span>12h01 ás 18h</span>
    </div>

    <div>
        <input type="radio" name="night" value="night">
        <label for="night">Noite</label>
        <span>18h01 ás 23h</span>
    </div>

    <div>
        <input type="checkbox" name="show-closed">
        <label for="show-closed">Exibir unidades fechadas</label>
    </div>

</form>